
<div >
    <div fxLayout="row"
    fxLayoutAlign = "space-between center" 
    class="header-background"
    >
        <button mat-button routerLink="/movielist">Movies</button>
        <button mat-button routerLink="/tvshowslist">TV Shows</button>
        <button margin-right="0px" mat-button [matMenuTriggerFor]="beforeMenu" class="menuButton">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="after" >  
            <button mat-menu-item routerLink="/login"
            *ngIf="!isuserloggedin">
                Login/Signup
            </button>   
            <button mat-menu-item routerLink="/addMovieOrShow">Add Movies/TV shows</button>     
            <button mat-menu-item 
            (click)="signout()"
            >
            Signout
        </button>
        </mat-menu>
    </div>    
</div>
  
