<div class="content-background">
  <br>
  <br>
        <h2 class="heading">
          Add Movie/TV Show
        </h2>
        <form #userForm="ngForm"  class="form">

          <mat-form-field  appearance="outline">
            <mat-label>
              Movie/TV Show Name
            </mat-label>
            <input #name matInput type="text" 
                   required
                   [(ngModel)]="movieOrShow.movieOrShowName"
                   name="name" maxlength="50">
            <mat-hint align="end">{{name.value.length}} / 50</mat-hint>
          </mat-form-field>

          <mat-form-field  appearance="outline">
            <mat-label>
              Title
            </mat-label>
            <input matInput type="text" 
                   required #title
                   [(ngModel)]="movieOrShow.movieOrShowTitle" 
                   name="title" maxlength="50">
            <mat-hint align="end">{{title.value.length}} / 50</mat-hint>      
          </mat-form-field>

          <mat-form-field  appearance="outline">
              <mat-label>
                Description
              </mat-label>
              <textarea matInput type="text" 
              [(ngModel)]="movieOrShow.movieOrShowDescription"
              placeholder="Ex. Action Packed" #description
              name="description" maxlength="400"
              class="text-area">
              </textarea>   
              <mat-hint align="end">{{description.value.length}} / 400</mat-hint>  
          </mat-form-field>
          
          <mat-form-field  appearance="outline">
              <mat-label >
                IMDB Rating
              </mat-label>
              <input matInput type="number" 
                   required
                   [(ngModel)]="movieOrShow.ratingIMDB" 
                   name="rating" max="10" min="0">
              <mat-hint align="end">0 - 10</mat-hint>                          
          </mat-form-field>
         

          <mat-form-field  appearance="outline">
              <mat-label>
                Language
              </mat-label>
              <mat-select required [(ngModel)]="movieOrShow.language" name="language">
                <mat-option *ngFor="let language of languages" [value]="language.value">
                  {{language.viewvalue}}
                </mat-option>
              </mat-select>
          </mat-form-field>
          
            
          <mat-form-field appearance="outline">
              <mat-label>
                Genre
              </mat-label>
              <mat-select required [(ngModel)]="movieOrShow.genre" name="genre">
                <mat-option *ngFor="let cat of categories" [value]="cat.value">
                  {{cat.viewvalue}}
                </mat-option>
              </mat-select>
              
          </mat-form-field>
          

          <mat-form-field  appearance="outline">
              <mat-label>
                Is Movie or TV show
              </mat-label>              
               <mat-select required [(ngModel)]="ismovie" name="ismovie">
                    <mat-option *ngFor="let cat of typeofshow" [value]="cat.value">
                      {{cat.viewvalue}}
                    </mat-option>
              </mat-select>
          </mat-form-field>
          

          <mat-form-field  appearance="outline">
              <mat-label>
                Image Path
              </mat-label>
              <input matInput type="text" 
                   
                   [(ngModel)]="movieOrShow.imagePath"
                   name="imagepath">
          </mat-form-field>
          

          <mat-form-field appearance="outline">
              <mat-label> 
                Is Prime Exclusive
              </mat-label>
              <mat-select required [(ngModel)]="isprimeexclusive" name="isprimeexclusive">
                <mat-option *ngFor="let cat of truefalse" [value]="cat.value">
                  {{cat.viewvalue}}
                </mat-option>
          </mat-select>
          </mat-form-field> 
          <br>

          <button mat-button type="submit"
          (click)="onSubmit()"
          class="submit-button"
          >
            Submit
          </button>  
        </form>

</div>