<div class="content-background">
<div>  
    <div class="container" >
      <br>
      <br>
      {{loginstatus}}
        <h2 class="login-heading">
          Log In
        </h2>
        <form #userForm="ngForm" class="form">
            <mat-form-field  appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email"  
                required                
                placeholder="Ex. email" 
                value="abc@xyz.com"
                [(ngModel)]="useremail"
                name="username">
              </mat-form-field>
              <br>
              <mat-form-field  appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" required 
                [type]="hide ? 'password' : 'text'"
                placeholder="Ex. password" 
                value=""
                [(ngModel)]="password"
                name="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <br>
          <button mat-button type="submit"
          class="submit-button"
          (click)="onSubmit()">
            Submit
          </button>  
        </form>
    </div> 
    <br>    
    <div class="new-user">
        <h4>
           <b>New User 
           <a [routerLink]="['/signup']"> SignUp</a> 
          </b>
        </h4>
    </div>
</div>
</div>